

/* grid styles ------------------------------------ */
@media (min-width: 600px) {
    main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      background-image: url(../img/p1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      font-family: sans-serif;
    }

    /* .figure-img{
      margin: 0px;
    } */


    .productsImage{
      height: 300px;
      border-radius: 20px;
      margin-bottom: 30px;
    }

    .products{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-right: 30px;
    }
  
    .info1 {
       grid-column: span 2;
       grid-row: span 2;
    }
    
    .info2 {
      grid-column: span 2;
    }
    
    .figure1 {
      grid-column: span 6;
      grid-row: span 2;
    }
    .figure6 {
      grid-column: span 2;
    }
    .figure7 {
      grid-column: span 3;
    }
  }

  @media (max-width: 600px) {
  .products{
    display: flex;
    justify-content: unset;
    flex-direction: row;
    margin-right: 0px;
    height: 70px;
    padding: 15px;
    
  }
  .productsImage{
    margin: 5px;

  }
  body{
    margin: 0;
  }

  .figure-img{
    width: 90% !important;
    height: 100%;
    margin-left: 15px ;
    border-radius: 20px;
  }

  }
  
  /* flex styles -------------------------------------- */
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  /* generic styles ----------------------------------- */
  body {
    max-width: 1600px;
    margin: 0 auto;
    font-family:  sans-serif;
  }
  
  header {
   padding: 10px;
  }
  
  
  .figure-img {
    display: block;
    width: 150%;
    height: 90%;
    object-fit: cover;
    border: 2px solid rgba(226, 193, 45, 0.582);
    border-radius: 10px;
  }
  
  .info1, .info2 {
    padding: 40px;
    background-color: rgba(226, 193, 45, 0.582);
    color: white;
    text-shadow: 0.2px 0px 0.2px rgba(0, 0, 0, 0.69);
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  p {
    margin-bottom: 1em;
  }

  

  .section{
    height: 60vh;
  }